*/out/
out/
.mvn
mvnw
mvnw.cmd

HELP.md
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


### webpack ###
node_modules/
build/

### python ###
py*/**/*.svg
py*/**/*.json
.gitignore
### 排除 office临时文件
~$*.*